<%- include ("../shared/includes/head",{title: "Update Post."})%>
<link href="/styles/blog.css" rel="stylesheet" type="text/css" />
<link>
  </head>
  <body>
    <%- include ("../shared/includes/header") %>
      <main>

        <section class="page-title">
          <h1>my deep thoughts</h1>
        </section>

        <section>
          <% if (locals.isAdmin) {%>
          <div class="basic-container" id="blog-posts">
            <h2>update post</h2>
            <form action="/posts/<%= post._id %>/edit" method="POST">
              <div class="input-group">
                <label for="title">title</label>
                <input type="text" id="title" name="title" value="<%= post.title %>" required>
              </div>
              <div class="input-group">
                <label for="content">content</label>
                <textarea id="content" name="content" rows="5"required><%= post.content %></textarea>
              </div>
              <button class="basic-btn">post</button>
            </form>
          </div>
          <% } %>
        </section>

      </main>
      <%- include ("../shared/includes/footer") %> 
  </body>
  </html>