<%- include ("includes/head",{title: "Some Deep 3D Thoughts."})%>

<link href="/styles/blog.css" rel="stylesheet" type="text/css" />
<link>
  </head>
  <body>
    <%- include ("includes/header") %>
      <main>

        <section class="page-title">
          <h1>my deep thoughts</h1>
        </section>

        <section>
          <% if (locals.isAdmin) {%>
          <div class="basic-container" id="blog-posts">
            <h2>new post</h2>
            <form action="/blog" method="POST">
              <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
              <div class="input-group">
                <label for="title">title</label>
                <input type="text" id="title" name="title" required>
              </div>
              <div class="input-group">
                <label for="content">content</label>
                <textarea id="content" name="content" rows="5"required></textarea>
              </div>
              <button class="basic-btn">post</button>
            </form>
          </div>
          <% } %>
          <%- include ("includes/blog-posts") %>
        </section>

      </main>
      <%- include ("includes/footer") %> 
  </body>
  </html>