<%- include ("includes/head", { title: "3D Fashion Shop"})%>
<link href="/styles/products.css" rel="stylesheet" />
<link href="/styles/cart.css" rel="stylesheet" /> 
<script src="/scripts/cart-item-management.js" defer></script> 
  </head>

  <body>
    <%- include ("includes/header") %>
    <section class="page-title">
      <h1>your cart..</h1>
    </section>
    <div id="cart-container">
        <div id="cart-total">
            <div id="cart-total-price">
              <p>total: $<span class="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>
            </div>
            <div id="cart-total-order">
                <button class="basic-btn" id="order-btn">order now</button>
            </div>
        </div>
        <div id="cart-item-details">
            <% for (const cartItem of locals.cart.items) { %>
            <div class="cart-item">
                <div class="image-container">
                    <img src="<%= cartItem.product.imageUrl  %>" alt="<%= cartItem.product.title %>" />
                </div>
                <div class="cart-item-details">
                    <form class="cart-item-managemenet" data-productid="<%= cartItem.product.id %>" data-csrf="<%= locals.csrfToken  %>">
                        <h2><%= cartItem.product.title %></h2>
                        <div class="cart-item-price">
                            <p>price: $</p>
                            <span class="cart-item-total-price"><%= cartItem.totalPrice.toFixed(2) %></spa>
                        </div>
                        <div class="cart-item-quantity">
                            <p>quantity:</p>
                            <input type="number" class="cart-item-quantity-input" value="<%= cartItem.quantity %>" required>
                        </div>
                        <div class="cart-buttons">
                            <button type="submit" class="basic-btn">update</button>
                            <button
                                type="delete"
                                class="basic-btn"
                                data-productid="<%= cartItem.product.id %>"
                                data-csrf="<%= locals.csrfToken %>"
                            >
                            remove
                            </button>   
                        </div>
                        
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <%- include ("includes/footer") %>   
  </body>
  </html>