<div class="basic-container new-product">
    <form action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <label for="title">title</label>
        <input type="text" name="title" id="title" value="<%= product.title %>" required>
      </div>
      <div id="image-upload-control">
        <div class="input-group file">
          <label for="image">image</label>
          <input type="file" name="image" id="image" accept="image/png, image/jpeg" <% if (imageRequired) { %>required<% } %>>
        </div>
        <img src="" alt="Image preview.">
      </div>
      <div class="input-group">
        <label for="summary">summary</label>
        <input type="text" name="summary" id="summary" value="<%= product.summary%>" required maxlength="250">
      </div>
      <div class="input-group">
        <label for="description">description</label>
        <textarea name="description" id="description" rows = "7" required><%= product.description %></textarea>
      </div>
      <div class="input-group">
        <label for="price">price</label>
        <input type="number" name="price" id="price" min="0.01" step="0.01" value="<%= product.price %>" required>
      </div>
      <div class="input-group btns">
        <button type="reset" class="basic-btn">reset</button>
        <button type="submit" class="basic-btn">save</button>
    </form>
  </div>