<div class="product-container">
  <div class="image-container">
    <img src="<%= product.imageUrl  %>" alt="<%= product.title %>" />
  </div>
  <h2><%= product.title %></h2>
  <div id="product-edit-del-btn">
    <button class="basic-btn">
      <a href="/admin/products/<%= product.id%>">view&edit</a>
    </button>
    <button id="delete-product-btn" class="basic-btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">delete</button>
  </div>
</div>
