<div class="product-container">
  <div class="image-container">
    <img src="<%= product.imageUrl  %>" alt="<%= product.title %>" />
  </div>
  <h2 class="product-title"><%= product.title %></h2>
  <p class="product-price">$<%= product.price.toFixed(2) %></p>
  <div id="product-edit-del-btn">
    <button class="basic-btn">
      <a href="/shop/<%= product.id%>">view</a>
    </button>
    <button id="delete-product-btn" class="basic-btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">buy</button>
  </div>
</div>
