<div class="product-container">
  <div class="image-container">
    <img src="<%= product.imageUrl  %>" alt="<%= product.title %>" />
  </div>
  <h2 class="product-title"><%= product.title %></h2>
  <p class="product-price">$<%= product.price.toFixed(2) %></p>
  <div id="product-view-buy-btn">
    <button class="basic-btn">
      <a href="/shop/<%= product.id%>">view</a>
    </button>
    <button
      class="basic-btn add-to-cart"
      data-productid="<%= product.id %>"
      data-csrf="<%= locals.csrfToken %>"
    >
      add to cart
    </button>
  </div>
</div>
